body {
  text-align: center;
}

#gulp-logo {
  vertical-align: middle;
  img {
    width: 200px;
  }
}

#result {
  color: green;
}

#chart {
  display: inline-block;
  width: 400px;
  min-width: 400px;
}
